/* Global Styles */

body {
    background-color: #365073;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #082359;

}

#container {
    background-color: #68a5ac;
}

/* Mobile Styles */

@media (min-width: 320px) {
    nav {
        background-color: #007BC3;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }

    nav ul {
    list-style-type: none;
    padding: 0;

    }

    nav li {
        display: block;
    }

    nav li a {
        display: block;
        height: 30px;
        line-height: 30px;
        background-color: #082359;
        color: white;
        font-size: 24px;   
        text-decoration: none;
        margin-top: 5px;
        border-radius: 20px;
    }

    nav li a:hover {
        background-color: #365073;
    }

    main {
        padding: 20px;
        
    }
    h1,
    h2,
    h3 {
        text-align: center;
        color: white;
        text-shadow: 1px 1px 1px #365073;

    }

    footer {
        text-align: center;
        padding: 40px;

    }
}

/* Tablet Styles */

@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
        border-radius: 20px;

    }

    .Content_Images {
        width: 50%;

    }

}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        border: 4px groove rgb(192, 192, 192);
        border-radius: 20px;

    }

    nav {
        background-color: #082359;
        padding: 2px;
        margin: 0;
    }

    nav li a {
        background-color: #007BC3;
        border-radius: 15px;

    }

    hr {
        display: none;
    }

    #multi_col {
        display: flex;
        
    }

    .col {
        
        margin: 10px;
        padding: 15px;
        border: 2px solid rgb(175, 175, 175);
        background-color: rgb(91, 142, 186);
        border-radius: 10px;
    }

    .MassFreighterInterior {
        width: 40%;
    }
    
}